.Navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 6vh;
}

.Navbar .logo {
  margin-right: 1em;
  background-color: #eceff1;
  font-family: Roboto;
  height: 100%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

.Navbar .logo a {
  padding: 1em;
  text-decoration: none;
  color: inherit;
}

.Navbar-slider-container {
  display: flex;
}

.Navbar-slider {
  width: 340px;
  margin: 1em;
  display: inline-block;
}

.Navbar-slider .rc-slider-track {
  background-color: transparent;
}

.Navbar-slider .rc-slider-rail {
  height: 8px;
}

.Navbar-slider .rc-slider-handle,
.Navbar-slider .rc-slider-handle:active,
.Navbar-slider .rc-slider-handle:focus,
.Navbar-slider .rc-slider-handle:hover {
  background-color: purple;
  outline: none;
  border: none;
  margin-top: -3px;
}

.select-container {
  margin-left: auto;
}
